<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="row">
        <div class="col-lg-3">
          <ul>
            <li>Buttons</li>
            <li>Table</li>
            <li>input</li>
            <li>Grid</li>
          </ul>
        </div>
        <div class="col-lg-4">
        <h3>Buttons</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur officia ut debitis eos ex, eaque, placeat recusandae expedita facere unde, deserunt minus praesentium! Quos ipsum id minima explicabo, pariatur eius.</p>
        </div>

        <div class="col-lg-5">
        <p data-height="268" data-theme-id="19622" data-slug-hash="dYvXpy" data-default-tab="result" data-user="peeweemiwie" class='codepen'>See the Pen <a href='http://codepen.io/peeweemiwie/pen/dYvXpy/'>dYvXpy</a> by Miwa Yagi (<a href='http://codepen.io/peeweemiwie'>@peeweemiwie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Table</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur officia ut debitis eos ex, eaque, placeat recusandae expedita facere unde, deserunt minus praesentium! Quos ipsum id minima explicabo, pariatur eius.</p>
        </div>
        <div class="col-lg-6">
        <p data-height="268" data-theme-id="19622" data-slug-hash="BoVKxa" data-default-tab="result" data-user="peeweemiwie" class='codepen'>See the Pen <a href='http://codepen.io/peeweemiwie/pen/BoVKxa/'>Bootstrap - table</a> by Miwa Yagi (<a href='http://codepen.io/peeweemiwie'>@peeweemiwie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      </div>
      </div>
    </div>
    


<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>